<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Waste</title>
  <link rel="stylesheet" href="css/nav.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="pa3 pa4-ns hideit" id="navbar">
    <a class="link dim black b f6 f5-ns dib mr3 logoName" href="/" title="Home">Waste Relations</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href="/profile" title="About">{{{status}}}</a>
    <a class="link dim gray    f6 f5-ns dib mr3" href="/search" title="About">Search</a>
  </nav>
  <div class="container">
    {{{body}}}
  </div>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123735008-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123735008-1');
  </script>

</body>

</html>