<link rel="stylesheet" type="text/css" href="/css/about.css">
<link rel="stylesheet" href="/css/style.css">
<article data-name="article-full-bleed-background">
  <div class="cf" style="background: url(http://mrmrs.github.io/photos/12.jpg) no-repeat center center fixed; background-size: cover;">
    <div class="fl pa3 pa4-ns bg-white black-70 measure-narrow f3 times">
      <header class="bb b--black-70 pv4">
        <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Waste Relations</h3>
        <h4 class="f3 fw4 i lh-title mt0">Toronto, Canada</h4>
      </header>
      <section class="pt5 pb4">
        <p class="times lh-copy measure f4 mt0">
          This waste wizard runs on data that was available through the City of Toronto Open Data Program. The original data and design
          was augmented by the skills of Christine Aqui, Lisa Freedman, Kamelia Gracheva and Andre Torquati
        </p>
      </section>
    </div>
  </div>
</article>

<div>
  <a class="link" href="https://lisafreedman.github.io/trashTrivia/" target="_blank">Trivia Game</a> ||
  <a class="link" href="https://www.garbageday.co" target="_blank">Collection Schedule Toronto</a>
</div>

<script type="text/javascript" src="/js/about.js"></script> {{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}