<div class=container>
    <h1>Please fill in the form below</h1>
    <form action="/action_page.php">
        Item Name:
        <br>
        <input type="text" name="itemname" id="name">
        <br> Where do you throw it out:
        <br>
        <select id="where">
            <option value="Blue Bin">Blue Bin</option>
            <option value="Christmas Tree">Christmas Tree</option>
            <option value="Depot">Depot</option>
            <option value="Electronic Waste">Electronic Waste</option>
            <option value="Garbage">Garbage</option>
            <option value="Green Bin">Green Bin</option>
            <option value="HHW">Household Waste</option>
            <option value="Metal Items">Metal Items</option>
            <option value="Not Accepted">Not Accepted</option>
            <option value="Oversize">Oversize</option>
            <option value="Yard Waste">Yard Waste</option>
        </select>
        <br> Instructions:
        <br>
        <input type="text" name="howitgoes" id="how">
        <br></br>
        <br>
        <br>
        <input type="submit" value="Submit" id="submit">
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/additem.js"></script>