<div class=container>
    <h1>Please fil in the form below</h1>
    <form action="/action_page.php">
        Item Name:<br>
        <input type="text" name="itemname" id="name">
        <br>
        Where do you throw it out:<br>
        <input type="text" name="whereitgoes" id="where">
        <br>
        Instructions:<br>
        <input type="text" name="howitgoes" id="how">
        <br></br>
        <br><br>
        <input type="submit" value="Submit" id="submit">
    </form> 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/additem.js"></script>