<h1> donation page prototype</h1>
<ul>
    <li>
        C - user fills in form 
    </li>
    <li>
        R - user should see a list of the dropoff locations in our db
    </li>
    <li>
        U - user should be able to update a location *
    </li>
    <li>
        D - user should be able to delete a location if it's closed down *
    </li>
    <li>
        *: should decide on actual process
    </li>
</ul>

<div class=container>
    <h1>Please fill in the form below</h1>
    <form action="/action_page.php">
        Organisation:<br>
        <input type="text" name="organisation" id="organisation">
        <br>
        Province:<br>
        <select id="selectProvince">
            <option value="ON">Ontario</option>
        </select>		
        <br>
        City/Town:<br>
        <select id="selectCity">
            <option value="TORONTO">Toronto</option>
        </select>
        <br>
        Postal Code:<br>
        <input type="text" name="postalCode" id="postalCode">
        <br>
        Address:<br>
        <input type="text" name="thoroughFare" id="thoroughFare">
        <br><br>
        <input type="submit" value="Submit" id="submit">
    </form> 
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/dropoff.js"></script>