<link rel="stylesheet" href="css/button.css">

<h1 id="title" class="logoName">Waste It</h1>
<img id="logoIcon" src="../img/logo-v2.gif" alt="Logo Icon" />

<div class='bodyDiv'>
  <a class="f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 dib black" href="/login">Login</a>
  <a class="f6 grow no-underline br-pill ba bw1 ph3 pv2 mb2 dib near-black" href="/signup">SignUp</a>
  <br>
</div>