<div class="pa4">
  <div class="overflow-auto">
    <table class="f6 w-100 mw8 center" cellspacing="0">
      <thead>
        <tr class="stripe-dark">
          <th class="fw6 tl pa3 bg-white">Name</th>
          <th class="fw6 tl pa3 bg-white">Category</th>
          <th class="fw6 tl pa3 bg-white">subCategory</th>
        </tr>
      </thead>
      <tbody class="lh-copy">
        {{#each values}}
        <tr class="stripe-dark">
          <td class="pa3">{{this.name}}</td>
          <td class="pa3">{{this.category}}</td>
          <td class="pa3">{{this.subCategory}}</td>
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</div>