<div>
  <img id="logoIcon" src="../img/logo-v2.gif" alt="Logo Icon" />
  <h3>What are you throwing out?</h3>
</div>

<div>
  <input type="text" name="search" id="shearchBox" placeholder="Search">
</div>

<div>
  <p>
    <a href="/profile">My Profile</a>
  </p>
  <p>
    <a href="/logout">Logout</a>
  </p>
</div>