.collapsible {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  border: none;
  /* text-align: left; */
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  width: 80%;
  height: fit-content;
  padding: 0 18px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* background-color: #f1f1f1; */
}

.dataBlock {
  clear: both;
  width: 80%;
  height: fit-content;
  display: flex;
}

.left {
  margin: auto;
  padding-right: 20px;
}