body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  border: green soild 5px;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: green soild 5px;
}

#logoIcon {
  width: 300px;
}